.game {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #ccc;
}

.game .facts {
  width: 100vh;
}

.game h3 {
  margin: 0 0 0.5vh 0;
}

.description {
  font-style: italic;
}

.price {
  margin: 5vh 0 0.5vh 9vh;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.7rem;
}

.game .cover{
  height: 100%;
  width: 100%;
  margin-left: 10vh;
}

.game .cover img{
  height: 250px;
  width: 200px;
  border-radius: 15px;
  opacity: 0.6;
}

.game .cover img:hover{
  opacity: 1;
}



/*.games {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: games-appear 1s ease-out forwards;
}

.games ul {
  list-style: none;
  margin: 0;
  padding: 0;
}*/
