.game {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #ccc;
}

.game h3 {
  margin: 0 0 0.5vh 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 1vh;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.25rem;
}

/*.games {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: games-appear 1s ease-out forwards;
}

.games ul {
  list-style: none;
  margin: 0;
  padding: 0;
}*/
